@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@200;300;400;600;700&display=swap');

* {
    font-family: 'Overpass', sans-serif;
    pointer-events: auto;
}

.max-w-wrapper {
    @apply mx-auto px-2 md:px-5;
    max-width: 1480px;
}

.btn {
    @apply bg-white py-2 px-4 rounded-md;
    box-shadow: 0px 0.25rem 1rem rgb(0 0 0 / 0.10);
    transition: all 0.25s;
}

.btn:hover {
    box-shadow: 0px 0.25rem 1rem rgb(0 0 0 / 0.20);
}

input {
    @apply py-1 px-2 rounded-sm;
    border: 1px solid rgb(196, 196, 196);
}

input:focus-visible {
    outline: none;
}