@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@200;300;400;600;700&display=swap');

* {
    font-family: 'Overpass', sans-serif;
    pointer-events: auto;
}

.max-w-wrapper {
    @apply mx-auto px-2 md:px-5;
    max-width: 1480px;
}